.nav-list__element {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 11px !important;
  border-bottom: 2px solid transparent;
}

.nav__dropdown {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  height: 0;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  transition: all 0.2s;
}

.nav__dropdown li {
  cursor: pointer;
}

.nav__dropdown li:hover {
  font-weight: bold;
}

nav:hover~.nav__dropdown,
.nav__dropdown:hover {
  visibility: visible;
  opacity: 1;
  height: 180px;
}

.item__active {
  border-bottom: 2px solid black;
  font-weight: bold !important;
}