.nav-list__element {
  cursor: pointer;
  padding: 20px 40px 20px 40px;
  text-transform: uppercase;
  font-size: 16px !important;
}

.nav__dropdown {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  min-height: 0;
  background-color: #F2F2F2;
  padding: 0;
  margin: 0;
  list-style-type: none;
  transition: all 0.2s;
}

.nav__dropdown li {
  cursor: pointer;
  text-transform: uppercase;
}

.nav__dropdown a {
  color: inherit;
  text-decoration: none;
}

.nav__dropdown li:hover {
  font-weight: bold;
}

.item__active {
  font-weight: bold !important;
}

.active__dropdown {
  visibility: visible;
  opacity: 1;
  min-height: 180px;
}